.salesforce-mapping-fields-form .even {
  /* Why doesn't this work? */
  background-color: lightgray;
}

.salesforce-mapping-fields-form .field_mapping_field > .form-item {
  float: left;
  width: 25%;
  padding-left: 1em;
}

.salesforce-mapping-fields-form .field_mapping_field > .narrow {
  width: 10%;
}

.salesforce-mapping-fields-form .field_mapping_field {
  clear: left;
}

.salesforce-mapping-fields-form #edit-buttons {
  clear: both;
}

.salesforce-mapping-fields-form .field_mapping_field > .form-item .drupal-field-value {
  width: initial;
}
